html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}


body {
	margin: 0;
	padding: 0;
}

.page {
	display: grid;
	grid-template-rows: 50px 1fr 50px;
	height: 100vh;
}

.header {
	background: rgb(31,31,31);
	color: rgb(146,145,146);
}

.content {
	display: grid;
	grid-template-columns: minmax(5%,315px) 1fr minmax(5%,315px);
}

.header a {
	color: rgb(146,145,146);
	text-decoration: none;
}

.header a span {
	font-size: 24px;
}

.header a:hover,
.header a span:hover {
	color: white;
}

.header .logo-link {
	padding: 18px;
}

.header .menu {
	margin: 0;
	list-style: none;
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

.header .menu li {
	display: inline-block;
	padding: 15px;
}

.header .menu li:hover {
	color: white;
}

li.active {
	background-color: rgb(0,0,0);
}

li.active a {
	color: white;
}

.links ul {
	list-style: none;
	list-style-type: none;
}

.links ul li {
	margin-bottom: 10px;
}

.links a {
	color: rgb(34, 110, 174);
	text-decoration: none;
}

.links a:hover {
	text-decoration: underline;
}

.ads,
.links {
	background-color: rgb(239,239,239);
}

.ad {
	display: flex;
	flex-basis: 80%;
	justify-content: center;
	margin: 15px;
	border: 1px solid rgb(223,223,223);
	background-color: rgb(244,243,243);
	padding: 19px;
}

.main {
	padding: 10px;
}

.footer {
	background-color: rgb(75,75,75);
	color: rgb(255,255,255);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}